@if (player$()) {
  <div class="player-details">
    <h3>Streets Owned:</h3>
    <ul>
      @for (street of properties$(); track street.name) {
        <li [style.color]="'var(--' + (street.color | colorPipe) + '-space)'">
          {{ street.name }}
        </li>
      } @empty {
        <li>No properties owned.</li>
      }
    </ul>
    <h3>Portals Owned:</h3>
    <ul>
      @for (portal of railroads$(); track portal.name) {
        <li>{{ portal.name }}</li>
      } @empty {
        <li>No portals owned.</li>
      }
    </ul>
    <h3>Utilities Owned:</h3>
    <ul>
      @for (utility of utilities$(); track utility.name) {
        <li>{{ utility.name }}</li>
      } @empty {
        <li>No utilities owned.</li>
      }
    </ul>
  </div>
}
