<div class="board-container">
  @for (space of spaces$(); track space.position) {
    <app-space
      [space$]="space"
      [style.gridColumn]="getCol(space.position) + ' / span 1'"
      [style.gridRow]="getRow(space.position) + ' / span 1'"
      [style.transform]="'rotate(' + getRotation(space.position) + 'deg)'"
    >
    </app-space>
  }
  <div class="board-center">
    <img src="BoardCenter.png" class="img-center" alt="Board Center" />
    <div class="dice-container">
      <app-dice></app-dice>
    </div>
    <div class="btn-container">
      <app-btn-container></app-btn-container>
    </div>
  </div>
</div>
