<div class="board-container">
  @for (space of spaces$(); track space.position) {
    <app-space
      [space]="space"
      [style.gridColumn]="getCol(space.position) + ' / span 1'"
      [style.gridRow]="getRow(space.position) + ' / span 1'"
      [style.transform]="'rotate(' + getRotation(space.position) + 'deg)'"
    >
    </app-space>
  }
  <div class="board-center">
    <!-- <img src="assets/board-center.png" alt="Board Center" /> -->
    <div class="dice-container">
      <app-dice></app-dice>
    </div>
    @if (player$()) {
      <div class="btn-container">
        @if (!player$()!.has_rolled) {
          <app-roll-dice-btn></app-roll-dice-btn>
        } @else {
          <app-end-turn-btn></app-end-turn-btn>
        }
      </div>
    }
  </div>
</div>
