.board-container {
  display: grid;
  grid-template-rows: 14% repeat(9, 8%) 14%;
  grid-template-columns: 14% repeat(9, 8%) 14%;
  height: 800px;
  width: 800px;
  color: black;
}

.board-center {
  position: relative;
  grid-row: 2 / span 9;
  grid-column: 2 / span 9;
  background-color: #2e2e2e;
}

.dice-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;
}

.btn-container {
  position: absolute;
  bottom: 28%;
  left: 50%;
  transform: translateX(-50%);
  gap: 10px;
}
