.player-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  height: 100%;
  flex: 1;
}

.player-info>* {
  margin: 0;
  margin-top: 5px;
  padding: 0;
}

.current-player {
  border-color: #007bff;
  background-color: #e7f1ff;
}
