.player-list {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.player-info {
  display: flex;
  flex: 0 0 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.player-text {
  flex-direction: column;
}

.image-container>img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.player-text>* {
  margin: 0;
  margin-top: 5px;
  padding: 0;
}

.current-player {
  border-color: #007bff;
  background-color: #e7f1ff;
}
