.player-list {
  display: flex;
  flex-direction: row;
}

.player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
}

.current-player {
  border-color: #007bff;
  background-color: #e7f1ff;
}
