.space-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  box-sizing: border-box;
}
.middle-space {
  display: flex;
  flex-direction: row-reverse;
}
.space-color {
  width: 100%;
  height: 20%;
}
.space-color-middle {
  width: 20%;
  height: 100%;
}
.space-label {
  display: flex;
  width: 100%;
  height: 20%;
  text-align: center;
  justify-content: center;
  background-color: #c1ae87;
}

.space-label-normal {
  align-items: center;
}

.space-label-middle {
  width: 20%;
  height: 100%;
}

.space-label p {
  margin: 2px;
  font-weight: bold;
  font-size: 0.4em;
}

.space-label-middle p {
  writing-mode: vertical-rl;
}

.space-main {
  width: 100%;
  height: 60%;
  background-color: grey;
}

.space-main-middle {
  width: 60%;
  height: 100%;
}
