.space-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  box-sizing: border-box;
}

.middle-space {
  display: flex;
  flex-direction: row-reverse;
}

.space-color {
  width: 100%;
  height: 20%;
}

.space-color-middle {
  width: 20%;
  height: 100%;
}

.space-label {
  display: flex;
  width: 100%;
  height: 20%;
  text-align: center;
  justify-content: center;
  background-color: #c1ae87;
}

.space-label-normal {
  align-items: center;
}

.space-label-middle {
  width: 20%;
  height: 100%;
}

.space-label p {
  margin: 2px;
  font-weight: bold;
  font-size: 0.4em;
}

.space-label-middle p {
  writing-mode: vertical-rl;
}

.space-main {
  width: 100%;
  height: 60%;
  background-color: grey;
}

.space-main-middle {
  width: 60%;
  height: 100%;
}

.player-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  grid-auto-rows: minmax(20px, 1fr);
  gap: 2px;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 2px;
}

.player-container:has(.player-token:nth-child(n + 5)) {
  grid-template-columns: repeat(3, 1fr);
}

.player-token-enter {
  animation: player-token-enter 0.5s ease-in-out;
}

.player-token-exit {
  animation: player-token-exit 0.5s ease-in-out;
}

@keyframes player-token-enter {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(2);
    opacity: 0.8;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes player-token-exit {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(2);
    opacity: 0.4;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}
