<div
  class="space-container"
  [ngClass]="{ 'middle-space': isRotatedSideways() }"
>
  @if (space$()) {
    <div
      class="space-color"
      [ngClass]="{ 'space-color-middle': isRotatedSideways() }"
      [style.backgroundColor]="
        'var(--' + (space$()!.color | colorPipe) + '-space)'
      "
    ></div>
    <div
      class="space-label"
      [ngClass]="{
        'space-label-middle': isRotatedSideways(),
        'space-label-normal': !isRotatedSideways(),
      }"
    >
      <p>{{ space$()!.name }}</p>
    </div>
    <div
      class="space-main"
      [ngClass]="{ 'space-main-middle': isRotatedSideways() }"
    >
      <div class="player-container">
        @for (player of playersOnSpace$(); track player.username) {
          <app-player-token
            class="player-token"
            animate.enter="player-token-enter"
            animate.leave="player-token-exit"
            [player$]="player"
          ></app-player-token>
        }
      </div>
    </div>
  }
</div>
