.game-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 98vh;
}

.game-area > * {
  margin: 10px 5px;
}

.board {
  height: 950px;
  aspect-ratio: 1 / 1;
}

.player-info-left,
.player-info-right {
  height: 98vh;
  min-width: 200px;
  width: 100%;
}

.show-card-modal {
  porsition: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
