.player-token {
  margin: 1px;
  height: 100%;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.player-token img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.player-token-enter {
  animation: player-token-enter 0.5s ease-in-out;
}

.player-token-exit {
  animation: player-token-exit 0.5s ease-in-out;
}

@keyframes player-token-enter {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    transform: scale(2);
    opacity: 0.8;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes player-token-exit {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(2);
    opacity: 0.4;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}
