@if (player$()) {
  @if (!player$()!.has_rolled) {
    <button
      (click)="rollDice()"
      [disabled]="player$()!.has_rolled || !isCurrentPlayer$()"
    >
      Roll Dice
    </button>
  } @else {
    @if (canBuy$()) {
      <button
        (click)="buyProperty()"
        [disabled]="!player$()!.has_rolled || !isCurrentPlayer$() || has_buy"
      >
        Buy
      </button>
    }
    <button
      (click)="endTurn()"
      [disabled]="!player$()!.has_rolled || !isCurrentPlayer$()"
    >
      End Turn
    </button>
  }
}
