@if (player$()) {
  @if (!player$()!.has_rolled && !player$()!.nb_double_rolls) {
    <button
      (click)="rollDice()"
      [disabled]="player$()!.has_rolled || !isCurrentPlayer$()"
    >
      Roll Dice
    </button>
  } @else {
    @if (canBuy$()) {
      <button
        (click)="buyProperty()"
        [disabled]="!isCurrentPlayer$() || has_buy"
      >
        Buy
      </button>
    }
    @if (player$()!.nb_double_rolls && !player$()!.has_rolled) {
      <button
        (click)="rollDice()"
        [disabled]="player$()!.has_rolled || !isCurrentPlayer$()"
      >
        Reroll
      </button>
    } @else {
      <button
        (click)="endTurn()"
        [disabled]="!player$()!.has_rolled || !isCurrentPlayer$()"
      >
        End Turn
      </button>
    }
  }
}
